<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Slack</title>
        <title lang="de-DE">Slack</title>

        <input-field type="url">
            <name>endpoint</name>
            <label>Webhook endpoint</label>
            <label lang="de-DE">Webhook endpoint</label>
        </input-field>
    </card>
</config>
