<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Slack</title>
        <title lang="de-DE">Slack</title>

        <input-field type="url">
            <name>endpoint</name>
            <label>Webhook endpoint</label>
            <label lang="de-DE">Webhook endpoint</label>
        </input-field>
    </card>

    <card>
        <title>Notifications</title>
        <title lang="de-DE">Notifications</title>

        <input-field type="multi-select">
            <name>orderNotifications</name>
            <label>Order notifications</label>
            <label lang="de-DE">Order notifications</label>
            <options>
                <option>
                    <id>orderPlaced</id>
                    <name>Order placed</name>
                    <name lang="de-DE">Order placed</name>
                </option>
                <option>
                    <id>transactionStatus</id>
                    <name>Transaction Status Change</name>
                    <name lang="de-DE">Transaction Status Change</name>
                </option>
                <option>
                    <id>deliveryStatus</id>
                    <name>Delivery Status Change</name>
                    <name lang="de-DE">Delivery Status Change</name>
                </option>
                <option>
                    <id>orderStatus</id>
                    <name>Order Status Change</name>
                    <name lang="de-DE">Order Status Change</name>
                </option>
            </options>
        </input-field>
    </card>
</config>
